/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.body-container {
  background-color: rgb(221, 236, 241);
}

 .article-card-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
 }

 .article-card {
  margin: 15px;
  padding: 10px;
  width: 45%
 }

.article-card a {
  color: #337ab7;
  font-weight: 400;
  font-size: 30px;
  text-decoration: none;
}
